<!doctype html>
<head>
    <title>
        {% block title %} voeventdb {% endblock %}
    </title>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='css/minimalcss/minimal.css') }}">
</head>

<div class="container">
    {% block content %}
    <div class="row">
        <div class="col-8">
            <h1>voeventdb</h1>
            <h2>{{ api_version }}</h2>

            <h4>{{ message }}</h4>
            <p>
                If you are new to voeventdb, please consult the
                <a href="{{ docs_url }}">documentation</a>.
            </p>

            <hr>
            {% block extracontent %}
            {% include "includes/endpoints.html" %}
            {% endblock %}
            <hr>
            <dl>
                <dt>Version tag:</dt>
                <dd>{{ version_tag }}</dd>

                <dt>Git commit:</dt>
                <dd>
                    <a href="https://github.com/timstaley/voeventdb/commits/{{git_sha}}">
                    {{ git_sha }}</a></dd>

            </dl>

        </div>
    </div>
    {% endblock%}

</div>